apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base
  - namespace.yaml
  - dragonfly.yaml
  - hpa.yaml

patches:
  - target:
      kind: Deployment
      name: course-app
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: course-app
      spec:
        replicas: 3
        template:
          spec:
            containers:
              - name: course-app
                env:
                  - name: APP_STORE
                    value: "redis"
                  - name: APP_REDIS_URL
                    value: "redis://dragonfly.production:6379/0"
                resources:
                  requests:
                    cpu: "100m"
                    memory: "128Mi"
                  limits:
                    cpu: "500m"
                    memory: "256Mi"