apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: development

resources:
  - ../../base
  - namespace.yaml
  - dragonfly.yaml

patches:
  - target:
      kind: Deployment
      name: course-app
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: course-app
      spec:
        replicas: 1
        template:
          spec:
            containers:
              - name: course-app
                env:
                  - name: APP_STORE
                    value: "redis"
                  - name: APP_REDIS_URL
                    value: "redis://dragonfly.development:6379/0"